/.idea
/public_html/assets
/public_html/akcms/u/*
/public_html/img/gallery/*
/public_html/img/pages/*
/public_html/sitemap.xml
/public_html/s/*

/htmls
/export

/cache
/dev
/etc
/lib
/logs
/tmp
/usr
/var


