@charset "utf-8";
.size08 {
	font-size: 8px;
}
.size09 {
	font-size: 9px;
}
.size10 {
	font-size: 10px;
}
.size11 {
	font-size: 11px;
}
.size12 {
	font-size: 12px;
}
.size13 {
	font-size: 13px;
}
.size14 {
	font-size: 14px;
}
.size15 {
	font-size: 15px;
}
.size16 {
	font-size: 16px;
}
.mainpretxt {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #1b536b;
}
.ftable {float: inherit;}
.ftable td p, .ftable th p{
	margin: 0;
	padding: 0;
}
table.ftable {
	border-collapse: collapse;
}
.ftable th {
	background-color:#dddddd;
	color:#585858;
	font-size:12px;
	padding-bottom:4px;
	padding-top:5px;
	text-align:center;
}
.ftable td, .ftable th {
	border:1px solid #dedede;
	font-size:12px;
	padding:3px 7px 2px;
}
p.noredstring {
	text-indent: 15px;
}
._imgview,._audio,._video,._skype {}
img.alignleft {
    margin: 5px 10px 3px 0;
}
.alignleft {
    float: left;
}
img.alignright {
    margin: 5px 0 3px 10px;
}
.alignright {
    float: right;
}