/*
html {
    margin-top:24px;
    position: relative;
}
*/
body {
	margin-top:24px;
}

.admcntrl_cnt {
    clear: both;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8011;
    background-color: #33244d;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);
    height: 25px;
}
.admcntrl {
    /* border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; */
    display: block;
    margin: 0 auto;
    padding: 4px 0 0 0;
    text-align: center;
}
.admcntrl img {
    cursor: pointer;
    padding: 0 2px 0;
    vertical-align: top;
}
.admcntrl img.admlogo {
    padding: 0 10px 0 0;
	margin-top: -1px;
	cursor: auto;
}
.inedit .admcntrl img.admlogo {
    margin-right: 90px !important;
	margin-top: -1px;
}
.inedit .admcntrl {
	max-width: 930px;
    text-align: left !important;
}

div.ss_edit {
   display: inline;
}
.ss_edithl,.ss_edithl>*{
    background-color: #fdffaf !important;
    color: #000000 !important;
    text-decoration: underline !important;
    text-decoration-color: #fdffaf !important;
    cursor: copy;
    -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.45) !important;
    -moz-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.45) !important;
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.45) !important;
    min-height: 5px !important;
    min-width: 5px !important;
}
.ss_edithl.textNotFound,.ss_edithl.textNotFound>*{
    background-color: #ffdeb9 !important;
    text-decoration-color: #ffdeb9 !important;
}
.ss_edithl.ss_edit_secDisabled:before {
    font-family: "Glyphicons Halflings";
    font-weight: 100;
    font-size: 0.7em;
    color: red;
    margin-right: 5px;
    content: "";
}
.ss_edithl.ss_edit_secInFuture:before {
    font-family: "Glyphicons Halflings";
    font-weight: 100;
    font-size: 0.7em;
    color: red;
    margin-right: 5px;
    content: "";
}
.ss_edithl.ss_edit_secDisabled.ss_edit_secInFuture:before {
    font-family: "Glyphicons Halflings";
    font-weight: 100;
    font-size: 0.7em;
    color: red;
    margin-right: 5px;
    content: "";
}
.ss_edithl:empty:before,.ss_edithl:empty:after {
    content: "\00a0";
}
.ss_edithl[data-hint]:hover {} /* IE10 без этой строчки не работает */
.ss_edithl[data-hint]:hover:after {
    opacity: 1;
    -webkit-transition: opacity 0.2s 50ms ease;
    -moz-transition: opacity 0.2s 50ms ease;
    -o-transition: opacity 0.2s 50ms ease;
    transition: opacity 0.2s 50ms ease;
    position: absolute;
    content: attr(data-hint);
    white-space: pre;
    top: -20px;
    left: 50%;
    border: 1px solid #999;
    border-radius: 3px;
    font: normal 11px Tahoma;
    padding: 2px 5px;
    box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: default;
    background-color: #fdffaf !important;
    text-transform: none;
    color: #323132 !important;

}
.fancybox-inner {border: 1px solid #d3d3d3 !important;}